body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    padding: 10px;
    margin: 0;
    background: #222;
    color: white;
  }
  
  #map {
    height: 60vh;
    width: 100%;
  }
  
  #info {
    padding: 15px;
  }
  
  canvas {
    max-width: 500px;
  }
  